<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>NDIPSL</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <% if (userId) { %>
        <h1 style="background-color: lightsalmon; text-align: center;"> <%= userId %> 으로 로그인 되었습니다. &nbsp; <a href="/logout"> [로그아웃] </a> </h1>
    <% } %>
    
    <div class="container">
        <div class="row">
            <div class="col mx-auto logo text-center">
                <a href="/" action="/home">
                    <img src="/images/logo.png" class="logo" alt="Logo">
                </a>
            </div>
        </div>
    </div>

    <hr style="width: 100%;">

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/greeting" action="/greeting">인사말</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vision" action="/vision">비전과 목표</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ips" action="/ips">연구 분야 / IPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/academic" action="/academic">학술 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/announcement" action="/announcement">공지 사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs" action="/docs">자료실</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header section end -->

    <!-- banner section start -->
    <div class="section-default-banner" style="background-image: url('/images/banner_greeting.jpg');">
        <div class="col-md-12">
            <h1 class="text_strategy_banner">인사말</h1>
        </div>
    </div>
    <!-- banner section end -->

    <!-- ci section start -->
    <div class="section-default">
        <div class="container">
            <h1 class="text-default-head-center"> | &nbsp; 국방 종합군수지원 연구소의 정체성 &nbsp; | </h1>
            <div class="image-default"><img src="/images/ci3.png"></div>
        </div>
    </div>
    <!-- ci section end -->

    <div class="section-divide-line">
        <div class="container">
            <hr style="width: 100%; border: 1px solid darkgrey;">
        </div>
    </div>

    <!-- director section start -->
    <div class="section-default">
        <div class="container">
            <h2 class="text-default-head-center" style="padding-bottom: 80px;"> | &nbsp; 연구소장 소개 &nbsp; | </h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="image-director"><img src="/images/profile_image2.jpg"></div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h1 class="text-greeting-director-name"> 연구소장 &nbsp; 최현국</h1>
                        <h6 class="text-greeting-director-description"> <br> <i class="bi bi-chevron-double-right"></i>
                            - 경기대학교 초빙교수 <br> - 한국항공대 초빙교수 <br> - 한국천문연구원 자문위원 <br> - 합동참모본부 선임감찰관 <br> - E-mail :
                            bluesky-chk@naver.com <br> - 범정부통합 연구지원 국가연구자 번호 : 1310**** </h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="text-default-head" style="padding-top: 50px"> 걸어온 길 </h1>
                <h6 class="text-default-body"> <i class="bi bi-chevron-double-right"></i> <br> - 합동참모본부 차장 ( 전역 :
                    '21.02.28' ) <br>- 공군사관학교장 <br> - 공군교육사령관 <br> - 합동참모본부 연습훈련부장 <br> - 공군본부 정보작전참모부장 <br> - 예천비행단장
                </h6>
            </div>
            <div class="row">
                <h1 class="text-default-head" style="padding-top: 50px"> 인사말 </h1>
                <h6 class="text-default-body" style="font-weight: bold;"> <br> 국방 종합군수지원 연구소를 방문해 주신 여러분을 진심으로 환영합니다. </h6>
                <h6 class="text-default-body"> <i class="bi bi-chevron-double-right"></i> <br> 저희 연구소는 국가 방위를 위한 핵심 무기체계 및 기반체계의 연구와 개발을 선도하고 있습니다. 우리의 목표는 효과적인 군수 지원을 통해 국가 안보를 강화하는 것이며, 이를 위해 다양한 핵심 분야에서 연구와 발전을 지속적으로 추진하고 있습니다. <br><br> 민간, 군, 산업, 학계, 연구기관 간의 협업과 통합 플랫폼 구축을 통해 국방 종합군수지원 체계의 고도화를 이루고자 하며, 소프트웨어, 인공지능(AI), 빅데이터(BD)를 기반으로 무기체계 발전을 지원하고 사이버 안보 및 보안, 안전 분야의 향상에도 힘쓰고 있습니다. 또한, 정보, 작전, 군수 분야의 운용체계를 병행 발전시키며, 종합군수지원과 국방 전투발전(DOTMLPF-P) 요소의 기능 발전을 위한 여건을 조성해 나가고 있습니다. <br><br> TLCSM, RAM, MRO, DOTmLPF-P 등 다양한 연구 분야를 통해 국방의 미래를 대비하고 있으며, 국방부 및 각 군과 협의하여 계약학과 설립 등 제반 행정적 필요를 충족하고 인재 양성과 연구 역량 강화를 목표로 하고 있습니다. <br><br> 앞으로도 국방 종합군수지원 연구소는 국민의 안전과 국가 방위에 기여하기 위해 끊임없이 노력할 것이며, 여러분의 많은 관심과 지지를 부탁드립니다. 감사합니다. </h6>
                <h6 class="text-default-body" style="font-weight: bold;"> <br> 최현국 <br> 국방 종합군수지원 연구소장 </h6>
            </div>
        </div>
    </div>

    <div class="section-divide-line">
        <div class="container">
            <hr style="width: 100%; border: 1px solid darkgrey;">
        </div>
    </div>

    <!-- org chart section start -->
    <div class="section-default">
        <div class="container">
            <div class="row">
                <h2 class="text-default-head-center"> | &nbsp; 조직도 &nbsp; | </h2>
                <div class="image-default"><img src="/images/org_chart.png"></div>
            </div>
        </div>
    </div>
    <!-- org chart section end -->

    <!--
      <div class="section-default">
        <div class="container">
          <div class="row">
            <h1 class="text-default-head"> 이렇게 살았습니다. </h1>
            <h1 class="text-default-head-sub"> 군사 전략 전문가로서의 끊임없이 탐구하고 노력하는 군인 </h1>
            <div class="blockquote">
              <p>안중근 장군의 옥중유묵 『爲國獻身 軍人本分 國家安危 勞心焦思』를 되뇌이며, 論語의 핵심사상 ’忠‘(충, 내 자신이 중심), ’恕‘(서, 용서하고 사랑하는)를 실천하는 군인으로서의 삶을 사랑하였습니다.</p>
            </div>
            <div class="blockquote">
              <p>미국의 인도태평양 전략과 한미동맹의 발전과 NATO와 EU의 安保戰略과 미국의 확장억제 전략이 함의하는 안보정책 ⦁ 전략을 바탕으로 대한민국의 安保戰略과 군사혁신에 대한 관심과 연구에 집중하였습니다.</p>
            </div>
            <div class="blockquote">
              <p>AI와 빅 데이터, Software 중심의 군사혁신을 위한 民⦁官⦁軍, 産⦁學⦁硏의 플랫폼 역할을 할수 있도록 환경을 조성하고 기반여건 마련을 위한 연구소 운영의 생각을 갖고 있었습니다.</p>
            </div>
            <div class="blockquote">
              <p>Space, CEMS(Cyber Electromagnetic Spectrum) - Domain 기반의 군사력 건설과 전략, 작전운영의 術적 발전을 위한 연구와 방향을 제시하기 위해 노력하였습니다.</p>
            </div>
            <div class="blockquote">
              <p>대한민국 20대 젊은이들에게 양질의 일자리 창출을 위한 民⦁官⦁軍, 産⦁學⦁硏의 기반체계 구축과 환경조성이 절실하고 필요하다고 생각합니다.</p>
            </div>
  
            <h1 class="text-default-head-sub"> 소통과 전문성을 최우선으로 하는 리더쉽</h1>
            <div class="blockquote">
              <p>疏通이 ’上下同慾者勝‘의 핵심요체이며 이를 구현하기 위해 노력하였습니다.</p>
            </div>
            <div class="blockquote">
              <p>소통의 리더쉽으로 동의보감의 『通則不痛이요, 不通則痛』을 항상 염두에 두고 史記 『壅蔽之 國殤也』의 교훈을 마음에 새기고 소통하기 위해 노력하였습니다.</p>
            </div>
            <div class="blockquote">
              <p>4차 산업혁명시대 리더쉽은 다양성(diversity)의 사회에서 민첩한(agile) 판단이 요구되며, 다양성 속에서의 민첩한 결심을 위한 리더의 전문성을 위해 끊임없는 자기학습에 집중하였습니다.</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="section-divide-line">
        <div class="container">
          <hr style="width: 100%;">
        </div>
      </div>
  
      <div class="section-default">
        <div class="container">
          <div class="row">
            <h1 class="text-default-head-center" style="margin-bottom: 20px"> 전역식 축하영상 </h1>
            <iframe width="100%" height="641px" src="https://www.youtube.com/embed/eMJcSA41Ioo?si=_frqEoYJE-ilF4XW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  -->
    <!-- director section end -->

    <!-- footer section start -->
    <div class="section-footer">
        <div class="container">
            <div class="row">
                <div class="logo-footer"><img src="images/logo-grayscale.png"></div>
                <div class="v-line-footer"></div>
                <div class="text-footer"> 경기도 수원시 영통구 광교산로 154-42(이의동) 경기대학교 육영관 8507호 <br> Developed by Hyeontae Son </div>
                <% if (userId) { %>
                    <button type="button" class="btn btn-secondary" style="margin-top: 10px; margin-left: 20px; height: 40px;" onclick="window.location.href='/logout';"> 로그아웃 </button>
                    <!-- <%= userId %> -->
                    <% } else { %>
                        <button type="button" class="btn btn-secondary" style="margin-top: 10px; margin-left: 20px; height: 40px;" onclick="window.location.href='/login';"> 관리자 로그인 </button>
                        <% } %>
            </div>
        </div>
    </div>
    <!-- footer section end -->

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });
    </script>
</body>

</html>