<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>NDIPSL</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <% if (userId) { %>
        <h1 style="background-color: lightsalmon; text-align: center;"> <%= userId %> 으로 로그인 되었습니다. &nbsp; <a href="/logout"> [로그아웃] </a> </h1>
    <% } %>
    
    <div class="container">
        <div class="row">
            <div class="col mx-auto logo text-center">
                <a href="/" action="/home">
                    <img src="/images/logo.png" class="logo" alt="Logo">
                </a>
            </div>
        </div>
    </div>

    <hr style="width: 100%;">

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/greeting" action="/greeting">인사말</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vision" action="/vision">비전과 목표</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ips" action="/ips">연구 분야 / IPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/academic" action="/academic">학술 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/announcement" action="/announcement">공지 사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs" action="/docs">자료실</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header section end -->

    <!-- banner section start -->
    <div class="section-default-banner" style="background-image: url('/images/banner_ips.jpg');">
        <div class="col-md-12">
            <h1 class="text_strategy_banner">연구 분야 / IPS</h1>
        </div>
    </div>
    <!-- banner section end -->

    <!-- org chart section start -->
    <div class="section-default">
        <div class="container">
            <h1 class="text-default-head-center"> | &nbsp; &nbsp; &nbsp; 연구 분야 &nbsp; &nbsp; &nbsp; | </h1>
            <div class="row">
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;">TLCSM</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> 총수명주기 관리체계 (Total Life Cycle Systems Management) </h5>
                        <p class="card-text"> 무기체계를 비롯한 군수품의 최초 개발부터 폐기 처분 시까지 전 수명주기 과정을 통합·관리해 비용을 최소화하는 동시에 가용도를 높임으로써 효과적으로 전투 준비 태세를 갖추게 하는 기법 </p>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;">RAM</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> Reliability (신뢰성), Availability (가용성), Maintainability (정비성) </h5>
                        <p class="card-text"> 시스템이나 장비가 얼마나 잘 작동하고, 필요할 때 사용할 수 있으며, 고장 시 얼마나 쉽게 수리할 수 있는지를 평가하는 지표 </p>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;">MRO</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> Maintenance (유지), 보수(Repair), 완전분해 점검/수리(Overhaul) </h5>
                        <p class="card-text"> 무기체계를 소요군이 운용하면서 적합한 성능을 유지하기 위해 정비, 수리, 보급 및 개조하는 활동 </p>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;">DOTmLPF–P</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> Doctrine, Organization, Training, Materiel, Leadership and education, Personnel, Facilities, and policy </h5>
                        <p class="card-text"> 군사 시스템의 개선을 위해 교리, 조직, 훈련, 물자, 리더십, 인사, 시설, 정책을 포괄적으로 분석하고 조정하는 프레임워크 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-divide-line">
        <div class="container">
            <hr style="width: 100%; border: 1px solid darkgrey;">
        </div>
    </div>

    <div class="section-default">
        <div class="container">
            <h1 class="text-default-head-center"> | &nbsp; &nbsp; &nbsp; 연구원 소개 &nbsp; &nbsp; &nbsp; | </h1>
            <div class="row">
                <div class="card border-success mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;"> 최 현 국</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> 연구소장 </h5>
                        <p class="card-text"> 주요 업무 : 연구소 운영, 전략 기획, 자원 관리 <br> E-mail : bluesky-chk@naver.com </p>
                    </div>
                </div>
                <div class="card border-success mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;"> 박 성 욱</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> 책임 연구원 </h5>
                        <p class="card-text"> 주요 업무 : 연구 계획 및 설계, 팀 관리, 리서칭 <br> E-mail : supark388@gmail.com </p>
                    </div>
                </div>
                <div class="card border-success mb-3" style="width: 100%;">
                    <div class="card-header" style="font-size: x-large; font-weight: bold;"> 김 성 민 </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title" style="font-size:large;"> 책임 연구원 </h5>
                        <p class="card-text"> 주요 업무 : 연구 계획 및 설계, 팀 관리, 리서칭 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- org chart section end -->

    <!-- footer section start -->
    <div class="section-footer">
        <div class="container">
            <div class="row">
                <div class="logo-footer"><img src="images/logo-grayscale.png" alt="logo-grayscale"></div>
                <div class="v-line-footer"></div>
                <div class="text-footer"> 경기도 수원시 영통구 광교산로 154-42(이의동) 경기대학교 육영관 8507호 <br> Developed by Hyeontae Son </div>
                <% if (userId) { %>
                    <button type="button" class="btn btn-secondary" style="margin-top: 10px; margin-left: 20px; height: 40px;" onclick="window.location.href='/logout';"> 로그아웃 </button>
                    <!-- <%= userId %> -->
                    <% } else { %>
                        <button type="button" class="btn btn-secondary" style="margin-top: 10px; margin-left: 20px; height: 40px;" onclick="window.location.href='/login';"> 관리자 로그인 </button>
                        <% } %>
            </div>
        </div>
    </div>
    <!-- footer section end -->

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
        });
    </script>
</body>

</html>